.am-tab-bar-tab-icon .iconfont{
  font-size: 20px ;
}
.am-tabs-tab-bar-wrap{
  position: fixed;
  bottom: 0;
  width: 100%;

}
.home{
  height: 100%;
  padding-bottom: 50px;
}
.am-tab-bar{
  max-height: 52px
}

.am-tab-bar-bar{
  height: 52px;
}